body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

p {
  margin: 0;
}

.plus_button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 17px 8px 8px !important;
}
@media (max-width: 767px) {
  .plus_button {
    gap: 8px;
  }
}

.all_button, .delete_button, .normal_button, .purple_button {
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 125ms;
}

.purple_button {
  padding: 15px 22px;
  background-color: #7C5DFA;
  color: white;
}
.purple_button:hover {
  background-color: #9277FF;
}

.normal_button {
  padding: 15px 22px;
}

.delete_button {
  padding: 15px 22px;
  background-color: #EC5757;
  color: white;
}
.delete_button:hover {
  background-color: #FF9797;
}

.plus {
  border-radius: 100%;
  min-height: 32px;
  min-width: 32px;
  box-sizing: border-box;
  background-color: white;
  padding: 10px 9px 10px 10px;
}

.dark {
  color: white;
  background-color: #141625;
}
.dark .filter_options {
  background-color: #252945;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}
.dark .invoice, .dark .on_mobile_write, .dark .main {
  background-color: #1E2139;
}
.dark .invoice .due, .dark .invoice .name, .dark .on_mobile_write .due, .dark .on_mobile_write .name, .dark .main .due, .dark .main .name {
  color: white;
}
.dark .invoice .draft, .dark .on_mobile_write .draft, .dark .main .draft {
  color: #DFE3FA;
  background-color: rgba(223, 227, 250, 0.1);
}
.dark .invoice .draft i, .dark .on_mobile_write .draft i, .dark .main .draft i {
  color: #DFE3FA;
}
.dark .normal_button {
  color: #DFE3FA;
  background-color: #252945;
}
.dark .normal_button:hover {
  background-color: white;
  color: #7E88C3;
}
.dark .status_name {
  color: #DFE3FA;
}
.dark .go_back {
  color: white;
  transition: color 150ms;
}
.dark .go_back:hover {
  color: #888EB0;
}
.dark .total_details {
  background-color: #252945;
}
.dark .total_div {
  background-color: #0C0E16;
}
.dark .bolds {
  color: white !important;
}

.light {
  color: black;
  background-color: #F9FAFE;
}
.light .filter_options {
  background-color: white;
  box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
}
.light .invoice, .light .on_mobile_write, .light .main {
  background-color: white;
}
.light .invoice .due, .light .invoice .name, .light .on_mobile_write .due, .light .on_mobile_write .name, .light .main .due, .light .main .name {
  color: #7E88C3;
}
.light .invoice .draft, .light .on_mobile_write .draft, .light .main .draft {
  color: #373B53;
  background-color: rgba(55, 59, 83, 0.2);
}
.light .invoice .draft i, .light .on_mobile_write .draft i, .light .main .draft i {
  color: #373B53;
}
.light .normal_button {
  color: #7E88C3;
  background-color: #F9FAFE;
}
.light .normal_button:hover {
  background-color: #DFE3FA;
}
.light .status_name {
  color: #858BB2;
}
.light .go_back {
  color: black;
  transition: color 150ms;
}
.light .go_back:hover {
  color: #7E88C3;
}
.light .total_details {
  background-color: #F9FAFE;
}
.light .total_div {
  background-color: #373B53;
}
.light .bolds {
  color: black !important;
}

.bolds {
  font-weight: bold !important;
}

.paid, .pending, .draft {
  border-radius: 6px;
  width: 104px;
  height: 40px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-right: 20px;
}
.paid i, .pending i, .draft i {
  font-size: 7px;
}
@media (max-width: 767px) {
  .paid, .pending, .draft {
    margin: 0;
  }
}

.paid {
  color: #33D69F;
  background-color: rgba(51, 214, 159, 0.2);
}
.paid i {
  color: #33D69F;
}

.pending {
  color: #FF8F00;
  background-color: rgba(255, 143, 0, 0.2);
}
.pending i {
  color: #FF8F00;
}