body {
  margin: 0;
  font-family: "League Spartan", sans-serif;
}

p {
  margin: 0;
}

.plus_button {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 8px 17px 8px 8px !important;
}
@media (max-width: 767px) {
  .plus_button {
    gap: 8px;
  }
}

.all_button, .purple_button {
  border-radius: 24px;
  border: none;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 125ms;
}

.purple_button {
  padding: 15px 22px;
  background-color: #7C5DFA;
  color: white;
}
.purple_button:hover {
  background-color: #9277FF;
}

.plus {
  border-radius: 100%;
  min-height: 32px;
  min-width: 32px;
  box-sizing: border-box;
  background-color: white;
  padding: 10px 9px 10px 10px;
}

.dark {
  color: white;
  background-color: #141625;
}
.dark .filter_options {
  background-color: #252945 !important;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25) !important;
}
.dark .filter_options input {
  color: #1E2139;
}

.light {
  background-color: #F9FAFE;
}