.home {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  padding-top: 77px;
  padding-left: 103px;
}
@media (max-width: 1023px) {
  .home {
    padding-left: 0;
    padding-top: 55px;
  }
}
@media (max-width: 767px) {
  .home {
    padding-top: 40px;
  }
}
.home .home_components_wraper {
  min-height: 100%;
  min-width: 730px;
}
@media (max-width: 1023px) {
  .home .home_components_wraper {
    min-width: 672px;
  }
}
@media (max-width: 767px) {
  .home .home_components_wraper {
    width: 100%;
    padding: 0 40px;
    min-width: 0;
  }
}
@media (max-width: 390px) {
  .home .home_components_wraper {
    padding: 0 20px;
  }
}