.input_wrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.input_wrapper label {
  font-weight: 500;
  font-size: 13px;
  margin: 0;
}
.input_wrapper input {
  border-radius: 4px;
  padding: 15px 20px;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
  outline: none;
  letter-spacing: -0.25;
}
.input_wrapper input:focus {
  border-color: #9277FF;
}