@import '../../../styles/scss/reusables';

.write_invoice_first_wrapper{ 
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    inset: 0;
    display: flex;
    z-index:25;
}

.write_invoice_second_wrapper{
    position: relative;
    max-height: 100vh;
    background-color: white;
    padding-left: 103px;
    border-radius: 0 20px 20px 0;

    @include media_tablet(){
        margin-top: 80px;
        padding-left: 0;
    }
    @include media_mobile(){
        border-radius: 0;
        width: 100%;
    }

}   

.write_invoice_second_half{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    // box-sizing: border-box;
    max-height: 100vh;
}

.buttons{
    box-shadow: 0px -2px 80px 0px rgba($color: #000000, $alpha: 0.2);
    padding:20px 56px 32px;
    display: flex;
    gap:8px;
    
    button{
        @include media(500px){
            padding:15px;
            font-size: 13px;
        }
    }
    
    .reverse_normal_button{
        margin-right: auto;
        @include media(500px){
            margin-right: 0;
        }
    }
    
    @include media(500px){
        gap:0;
        justify-content:space-evenly;
        padding:21px 5px 22px;
    }
}

.write_invoice_third_wrapper{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap:40px;
    padding: 55px 56px 32px;
    width: 616px;
    box-sizing:border-box;
    flex: 100%;
    max-height:calc( 100vh - 99px);
    
    @include media_tablet{
        max-height:calc( 100vh - 179px);
    }

    @include media_mobile{
        max-height:calc( 100vh - 170px);
        padding: 30px 24px;
        margin:0 auto;
    }
    @include media(635px){
        width: auto;
    }
    @include media(500px){
        max-height:calc( 100vh - 168px);
    }
    input{
        background-color: transparent
    }
}


//childs
.title{
    @include hm();
}

.from_inputs{
    display: grid;
    gap:24px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3,1fr);

    .street_address{
        grid-column-start: 1;
        grid-column-end: 4;

        @include media_mobile{
            grid-column-end: 3;
        }
    }

    .country{
        @include media_mobile{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    @include media_mobile(){
        gap:15px;
        grid-template-rows: repeat(3,1fr);
        grid-template-columns: repeat(2,1fr);
    }
}

.to_inputs{
    display: grid;
    gap:24px;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(3,1fr);

    .client_name,.client_email,.client_street_address{
        grid-column-start: 1;
        grid-column-end: 4;
        @include media_mobile{
            grid-column-end: 3;
        }
    }

    .client_country{
        @include media_mobile{
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }

    @include media_mobile(){
        grid-template-rows: repeat(5,1fr);
        grid-template-columns: repeat(2,1fr);
    }
}

.items_wraper{

    .items_title{
        color: #777F98;
        @include hm();
        font-size: 18px;
    }
}

//commons
.section_title{
    color: $purpleFA;
    @include p();
    margin-bottom:24px;
}
.input_label{
    @include pp()
}
.reverse_normal_button{
    border-radius: 24px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    padding:15px 22px;
    color:$purpleC3;
    background-color: #F9FAFE;
    transition: background-color 125ms;

    &:hover{
        background-color: #DFE3FA;
    }
}
.save{
    border-radius: 24px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    padding:15px 22px;
    color:$purpleC3;
    background-color: #F9FAFE;
    color: #DFE3FA;
    background-color: #252945;
}