@import '../../styles/scss/reusables';

.home{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top:77px;
    margin-left: 103px;
    @include media_tablet(){
        margin-left: 0;
        margin-top:55px;
    }
    @include media_mobile(){
        margin-top: 40px;
    }
    .home_components_wraper{
        min-height: 100%;
        min-width: $maxdesktop;
        @include media_tablet(){min-width: $maxtablet;}
        @include media_mobile(){
            width: 100%;
            padding:0 40px;
            min-width: 0;
            // min-width: $maxmobile;
        }
        @include media_mini_mobile(){
            padding:0 20px;
            // min-width: $maxminimobile;
        }
    }
}