@import "../../styles/scss/reusables";

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: $purple53;
    height: 100px;
    border-radius: 0 20px 20px 0;
    height: 100vh;
    position: fixed;
    z-index:50;
    @include media_tablet(){
        position: static;
        align-items: stretch;
        height: auto;
        border-radius: 0;
        flex-direction: row;
    }
    .navbar_logo{
        height: 103px;
        width: 103px;
        vertical-align: bottom;
        @include media_tablet(){
            height: 80px;
            min-height: 100%; 
            width: 80px;
        }
    }
    .navbar_theme__profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        @include media_tablet(){
            min-height: 100%;
            width: auto;
            flex-direction: row;
        }
        &>*{
            // padding-block:24px;
            @include media_tablet(){
                width: auto;
                padding-block:auto ;
                padding:0 24px;
            }
        }
        i{
            padding:0;
            margin-block:24px;
            color: $purpleC3;
            font-size: 20px;
            transition:color 100ms;
            cursor: pointer;
            &:hover{
                color:$whiteFA;
            }
            @include media_tablet(){
                width: auto;
                margin-block:auto ;
                margin:0 24px;
            }
        }
        .profile{
            width: 100%;
            height: 100%;
            border-top: solid #494E6E 1px;
            padding-block:24px;
            @include media_tablet{
                display: flex;
                height: 100%;
                border-top:none;
                border-left:solid #494E6E 1px;
                width: auto;
                padding-block:auto ;
                padding:0 24px;
            }
            &>*{
                margin:0 auto;
                display: block;
                border-radius: 100%;
                @include media_tablet{
                    margin-block:auto;
                    width: 32px;
                    height: 32px;
                }
            }
        }
    }
}
