@import '../../styles/scss/reusables';

.deleteWrapper{
    display: flex;
    flex-direction: column;
    gap:15px;
    max-width: 380px;
}

.title{
    @include hm();
}

.description{
    @include p();
    line-height: 25px;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap:8px;
    @include media_mini_mobile{
        justify-content: space-around;
    }
}

.save{
    border-radius: 24px;
    border: none;
    font-weight: 700;
    font-size: 15px;
    cursor: pointer;
    padding:15px 22px;
    color:$purpleC3;
    background-color: #F9FAFE;
    color: #DFE3FA;
    background-color: #252945;
}