@import '../../styles/scss/reusables';

.invoice{
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding:16px 32px;
    gap:20px;
    margin-block:30px 24px;
    .write_buttons{
        @include media(610px){
            display: none;
        }
    }
}

.go_back{
    text-decoration: none;
    i{
        color: $purpleFA;
        margin-right: 20px;
    }
}

.invoice_details{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: 103px;
    margin-top: 65px;
    @include media_tablet(){
        margin-left: 0;
        margin-top:55px;
    }
    &>div{
        @include media($phone){
            padding:0 24px;
            width: 100%;
        }
    }
}

.write_buttons{
    display: flex;
    justify-content: center;
    gap: 8px;
}

.status_div{
    display: flex;
    align-items: center;
    gap:20px;
    p{
        @include p();
    }
    @include media($phone){
        justify-content: space-between;
        width: 100%;
    }
}

//mobile write buttons
.on_mobile_write{
    display: none;
    padding:16px 5px;

    
    @include media($phone){
        display: block;
        margin-top: auto;
        .write_buttons{
            gap: 10px;
            @include media(455px){
                gap: 5px;
            }
            button{
                flex: 100%;

                //MQ
                @include media(455px){
                    flex: auto;
                    padding:15px 19px;
                }
            }
        }
    }
}

//main-section:
.main{
    border-radius: 8px;
    padding:48px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    gap: 20px;


    //MQ
    @include media(400px){
        padding: 25px 20px;
    }

    .main_top{
        display: flex;
        justify-content: space-between;

        .id{
            margin-bottom: 7px;
            span{
                color: #888EB0;
            }
        }

        p{
            @include pp()
        }

        .from_infos p{
            margin-bottom: 5px;
            text-align: end;
        }

        //MQ
        @include media($phone_main){
            flex-direction: column;
            gap:30px;
        }
    }

    //parent
        .main_mid{
            display: flex;
            justify-content: space-between;

            p{
                @include pp()
            }

            @include media($phone_main){
                flex-direction: column;
                gap:32px;
            }
        }
            .main_mid_left{
                flex: 1;
                display: flex;
                justify-content: space-between;
                .dates{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    gap:20px;
                    p:first-child{
                        margin-bottom: 13px;
                    }
                }            

                .to_infos,.dates{
                    
                    //MQ
                    @include media($phone_main){
                        flex:100%;
                    }
                }

                .to_infos{
                    p:first-child{
                        margin-bottom: 13px;
                    }
                    p:nth-child(2){
                        margin-bottom: 10px;
                    }
                    p:not(p:nth-child(2),p:first-child){
                        margin-bottom: 5px;
                    }
                }
            }
            .main_mid_right{
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: center;

                p:first-child{
                    margin-bottom: 13px;
                }

                @include media($phone_main){
                    align-items: flex-start;
                }
            }
    //

    .main_bottom{
        .total_details{
            display: flex;
            padding: 33px;
            border-radius: 8px 8px 0 0;
            @include media(600px){
                display: none;
            }
            
            p{
                @include pp()
            }

            .total_details_details{
                flex:70%;
            }

            .total_details_name{
                flex:30%;
                display: flex;
                flex-direction: column;
                gap:$gap;
            }

            .total_details_details{
                display: flex;
                &>div{
                    flex:100%;
                    display: flex;
                    flex-direction: column;
                    gap:$gap;
                    align-items: flex-end;
                }
            }
        }

        .total_details_mobile{
            display: none;
            
            @include media(600px){
                display: flex;
                flex-direction: column;
                padding: 25px;
                gap:24px;
                border-radius: 8px 8px 0 0;
                &>div{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }

        .total_div{
            display: flex;
            justify-content: space-between;
            padding:27px 32px;
            border-radius:  0 0 8px 8px;
            color: white;

        }
    }
}
