@import "reusables";

body{
    margin:0;
    font-family: 'League Spartan', sans-serif;
}
p{
    margin:0;
}

//buttons
    .plus_button{
        display: flex;
        align-items: center;
        gap:15px;
        padding:8px  17px 8px 8px !important;
        @include media_mobile(){gap:8px;}
    }
    .all_button{
        border-radius: 24px;
        border: none;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
        transition: background-color 125ms;
    }
    .purple_button{
        @extend .all_button;
        padding:15px 22px;
        background-color: $purpleFA;
        color: white;
        &:hover{
            background-color: $purpleFF;
        }
    }
    .plus{
        border-radius: 100%;
        min-height: 32px;
        min-width: 32px;
        box-sizing: border-box;
        background-color: white;
        padding:10px 9px 10px 10px;
    }
//

//dark&lightTheme
.dark{
    color: white ;
    background-color: $blackBG;
    .filter_options{
        background-color: $black45;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25) ;
    }
    .invoice{
        background-color: #1E2139 ;

        //due-date&client-name
        .due,.name{
            color: white ;
        }

        //status
        .draft{
            color:$s_white ;
            background-color: rgba($color: $s_white, $alpha: 0.1);
            i{color:$s_white;}
        }
    }
}
.light{
    color: black;
    background-color: $whiteBG;
    .filter_options{
        background-color: white;
        box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
    }

    .invoice{
        background-color: white;

        //due-date&client-name
        .due,.name{
            color: #7E88C3;
        }

        //status
        .draft{
            color:$s_black;
            background-color: rgba($color: $s_black, $alpha: 0.1);
            i{color:$s_black;}
        }
    }
}

//status-button-styles
.paid,.pending,.draft{
    border-radius: 6px;
    width: 104px;
    height: 40px;
    border:none;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:8px;
    margin-right: 20px;
    i{
        font-size: 7px;
    }
}
.paid{
    color:$s_green;
    background-color: rgba($color: $s_green, $alpha: 0.1);
    i{color:$s_green;}
}
.pending{
    color:$s_orange;
    background-color: rgba($color: $s_orange, $alpha: 0.1);
    i{color:$s_orange;}
}
//draft is considered in dark/light mode