//VARIABLES:
    //media_queries
    $mobile:767px;
    $tablet:1023px;

    //colors
    $purple53:#373B53;
    $purpleFA:#7C5DFA;
    $purpleFF:#9277FF;
    $purpleC3:#7E88C3;
//MIXINS:
    //media_queries
    @mixin media_mobile(){
        @media (max-width:$mobile){
            @content
        }
    }
    @mixin media_tablet(){
        @media (max-width:$tablet){
            @content
        }
    }