// @import '../../styles/scss/reusables';

//VARIABLES:
    //media_queries
    $minimobile:390px;
    $mobile:767px;
    $tablet:1023px;

    //main_min_width
    $maxdesktop:730px;
    $maxtablet:672px;
    $maxmobile:327px;
    $maxminimobile:290px;

    //colors
    $purple53:#373B53;
    $purpleFA:#7C5DFA;
    $purpleFF:#9277FF;
    $purpleC3:#7E88C3;
    $whiteBG:#F9FAFE;
    $whiteFA:#DFE3FA;
    $blackBG:#141625;
    $black45:#252945;
    $red:#EC5757;

    //status-colors
    $s_green:#33D69F;
    $s_orange:#FF8F00;
    $s_black:#373B53;
    $s_white:#DFE3FA;

    //invoice_detail_breaking_point
    $phone:610px;
    $phone_main:600px;

    //total_details_gap
    $gap:32px;

    //items_components_width
    $itemGap:12px;
    $name:40%;
    $qty:11%;
    $price:20%;
    $total:8.5%;
//

//TYPOGRAPHY
    //headings
    @mixin hl(){
        font-weight: 700;
        font-size: 36px;
        margin:0;
    }
    @mixin hm(){
        font-weight: 700;
        font-size: 24px;
        margin:0;
    }
    @mixin hs(){
        font-weight: 700;
        font-size: 15px;
        margin:0;
    }

    //paragraphs
    @mixin p(){
        font-weight: 500;
        font-size: 13px;
        margin:0;
    }
    @mixin pp(){
        font-weight: 500;
        font-size: 13px;
        margin:0;
        // color:$purpleC3;
        color:#DFE3FA;
    }
//

//MEDIA_QUERIES:
    @mixin media_mini_mobile(){
        @media (max-width:$minimobile){
            @content
        }
    }
    @mixin media_mobile(){
        @media (max-width:$mobile){
            @content
        }
    }
    @mixin media_tablet(){
        @media (max-width:$tablet){
            @content
        }
    }
    @mixin media($size){
        @media (max-width:$size){
            @content
        }
    }
//

