@import '../../../../styles/scss/reusables.scss';

//parent
.invoice{
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding:16px 32px;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    &:hover{
        outline: 1px solid $purpleFA;
    }
    @include media_mobile(){
        padding:25px 22px 24px;
        align-items: normal;
    }
    @include media(610px){
        width: 75%;
        min-width: 327px;
    }
    // @include media(500px){

    // }
    @include media(390px){
        width: 100%;
        min-width: 0px;
    }
}

//childs
.invoice_I,.invoice_II{
    display: flex;
    align-items: center;
    @include media_mobile(){
        flex-direction: column;
    }
}

.invoice_I{
    gap:40px;
    .id{
        @include hs();
        span{
            color:$purpleC3;
        }
    }

    //media-queries
    .total_mobile{
        display: none;
    }
    @include media_mobile(){
        .total_mobile{
            display: inline;
            margin-top: 10px;
        }
        .name_desktop{
            display: none;
        }
        .id{
            margin-bottom: 24px;
        }
        &{
            gap:0;
            align-items: flex-start;
        }
    }
}

.invoice_II{
    //media-queries
    .name_mobile{
        display: none;
    }
    @include media_mobile(){
        .name_mobile{
            display: inline;
            
        }
        .total_desktop,img{
            display: none;
        }
        &{
            margin-top: 4px;
            align-items: flex-end;
        }
    }
}

//not parent dependant
.total_mobile,.total_desktop{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.due,.name_mobile,.name_desktop{
    @include p();
}

//mobile/desktop/sepecific/styles:
.total_desktop{
    margin-right: 40px;
}
.name_mobile{
    margin-bottom: auto;
}